<div class="index">
  <img src="/images/beer.png" />
  <dic class="btn-flex-style">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beers">Check a Random Beer!</a>
  </dic>
</div>