<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/styles.css">
  </head>
  <body>
    <div class="main-nav">
      <nav class="nav">
        <a class="nav-style" href="/">Home</a>
        <a class="nav-style" href="/beers">Beers</a>
        <a class="nav-style" href="/random-beers">Random-Beers</a>
      </nav>
    </div>

    {{{ body }}}

    <footer>
        <span>Developed in IronHack ;)</span>
    </footer>

  </body>
</html>